* {
    font-family:
            /* 思源黑体 (安装) */
            'Source Han Sans SC',
            'Source Han Sans CN',
            'Noto Sans CJK SC',

            /*
             * 在 Apple 系设备的 Webkit 内核浏览器中使用默认字体
             * 中：苹方，西：San Francisco
             */
            -apple-system,
            /* 让 Chrome 支持上述属性 */
            BlinkMacSystemFont,

            /* 西文 */

            /* 来自 Google Fonts */
            'Noto Sans',
            /* macOS 预装 */
            'Helvetica Neue',
            /* Windows 预装 */
            'Arial',

            /* 中文 */

            /* 苹方 (OSX >= 10.11 || iOS >= 9) */
            'PingFang SC',
            /* 冬青黑体 (OSX >= 10.6) */
            'Hiragino Sans GB',
            /* 华文黑体 (OSX < 10.6 || iOS < 9) */
            'STHeiti',
            /* 微软雅黑 (Windows >= Vista) */
            'Microsoft YaHei',
            /* 黑体 (Windows < Vista) */
            'SimHei',
            /* 文泉驿微米黑 (Linux) */
            'WenQuanYi Micro Hei',

            sans-serif;
    outline: none;
}

html, body {
    color: white;
    height: 100%;
}

body {
    background: url("img/background.jpg") no-repeat fixed center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    position: relative;
}

a {
    color: white;
}

::selection {
    background: white;
    color: #262A30;
}

.top-right-corner {
    position: absolute;
    right: 0;
}

.top-right-corner img {
    width: 40px;
}

.content {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
}

.title {
    font-size: 50px;
}

.title-en {
    margin-left: 4px;
    font-size: 32px;
}

.subtitle {
    font-size: 40px;
}

.subtitle-en {
    margin-left: 4px;
    font-size: 24px;
}

.link {
    margin-top: 20px;
}

.link a {
    position: relative;
    margin-right: 20px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #039BE5;
    border: 2px solid #0277BD;
    border-radius: 8px;
}

.link a:hover {
    background-color: #0288D1;
}

.link span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.footer {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.background-source {
    margin-bottom: 4px;
    font-size: 14px;
    font-family:
            /* 思源宋体 (安装) */
            'Source Han Serif SC',
            /* 来自 Google Fonts */
            'Source Serif Pro',
            serif;
}

.copyright {
    font-size: 12px;
}

@media (max-width: 480px) {

    .top-right-corner img {
        width: 32px;
    }

    .content {
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .title {
        display: block;
        font-size: 40px;
    }

    .title-en {
        display: block;
        margin-left: 4px;
        font-size: 24px;
    }

    .subtitle {
        display: block;
        font-size: 32px;
    }

    .subtitle-en {
        display: block;
        margin-left: 4px;
        font-size: 16px;
    }

    .link a {
        margin-left: 5px;
        margin-right: 5px;
        width: 32px;
        height: 32px;
    }

    .link span {
        font-size: 16px;
    }

    .background-source {
        margin-bottom: 2px;
        font-size: 10px;
    }

    .copyright {
        font-size: 8px;
    }
}